
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
 
   <link rel="stylesheet" href="../../css/weixin_test.css"/>


</head>

<body>
    <div id="userinfo">

   <div></div> 



        <script src="../js/less.js"></script>
        <script src="../js/hotcss.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../js/vue-resource.min.js"></script>
        <script src="../js/pick.js"></script>
        <script src="../controller/nvcontroller.js"></script>
    </div>
</body>

</html>
