
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="../css/style.css" rel="stylesheet" />
</head>
<body>
   <div class="conbox">
<div class="list"></div>
       <div class="list"></div><div class="list"></div><div class="list"></div><div class="list"></div>
   </div>

   // <script src="../../lib/jq/jquery-2.1.0.min.js"></script>

               
</body>         
</html>          
